<a href="https://colab.research.google.com/github/johnreyes96/modeling-and-simulation/blob/master/src/main/python/classes/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python

En este notebook vamos a recorrer algunos conceptos básicos de programación en general y como se aplican con Python. 

## 1. Variables, Tipos de Datos y Operaciones

### 1.1 Variables

Al crear una variable le estás poniendo un nombre a un objeto. Cada variable debe llevar un nombre a través del cual nos referimos a ella, los nombres deben ser únicos y, en lo posible, ser lo mas explícitos posibles para evitar confusiones. Usando el `=` se asigna un valor a una variable.

In [ ]:
# Asignamos el valor 3 a una variable que creamos, de nombre x
x = 3

# Evaluamos e imprimimos en pantalla el resultado
print(x)

3

In [ ]:
# Asignamos el valor 15.7 a una nueva variable, de nombre y
y = 15.7

print(y)

15.7

In [ ]:
# Podemos definir una nueva variable como la suma de dos anteriores
z = x + y

print(z)

18.7

Pero en las variables no necesariamente ponemos números, también podemos poner texto (*strings*)

In [ ]:
# Se peude tambier asignar un valor de texto otra variable
un_texto = 'HOLA!'

print(un_texto)

HOLA!

**Probar:** ejecutar la siguiente celda. ¿Cuál es la diferencia?

In [ ]:
print(un_texto)
print("un_texto")

HOLA!
un_texto

Si queremos, podemos borrar alguna variable que ya no utilizaremos más

In [ ]:
del(un_texto)
print(un_texto)

NameError: ignored

**Nota importante**: al correr esta ultima linea, deben ver un mensaje de error. Los mensajes de error son MUY IMPORTANTES. Nos brindan información muy valiosa cuando nuestro código no funciona. En este caso, nos está avisando que no puede imprimir la variable `un_texto`, ya que la eliminamos y no está definida.

Muchas veces, para resolver el error, lo mejor que podemos hacer es googlearlo.¡Notar que en Colab ya nos da la opción de Googlear el error en Stack Overflow!

### 1.2 Tipos de Datos
Cuando definimos una variable, dependiendo el contenido que le asignamos, la misma será de un determinado tipo. Los tipos de datos más comunes de variables son: `int`,`float`,`string` y `boolean`. Veamos algunos ejemplos de cada tipo.

In [ ]:
a = 42
print(type(a))

<class 'int'>

In [ ]:
b = 7.8
print(type(b))

<class 'float'>

In [ ]:
c = True
print(type(c))

<class 'bool'>

In [ ]:
t1 = 'hola'
print(type("hola"))

t2 = '523'
print(type('t2'))

<class 'str'>
<class 'str'>

**Nota**: a pesar de ser un número, la variable `t2` es de tipo `string`. Esto se debe a que lo pusimos entre comillas.

In [ ]:
# Este es un tipo especial de variable, que se utiliza para simbolizar algo 'vacio'
d = None
print(type(d))

<class 'NoneType'>

Si por algun motivo, uno desea definir el tipo de variable y no dejar que python lo asuma por si solo, esto también es posible.

In [ ]:
numero = 45
print(type(numero))

# Quiero que sea un 'float' y no un int
numero = float(45)
print(type(numero))

# Quiero que sea un 'string' y no un int
numero = str(45)
print(type(numero))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
otro_numero = 45.0
print(type(otro_numero))

# Quiero que sea un 'int' y no un 'float'
otro_numero = int(45.0) 
print(type(otro_numero))

<class 'float'>
<class 'int'>

**Ejercicio**: Cambiar el tipo de la variable 'numero' a float.

In [ ]:
numero = '5'
numero = float(numero)

# La siguientes lineas de codigo chequean si hiciste correctamente el ejercicio
# No importa si no entiendes qué hace.
if type(numero) is float:
    print('Correcto!')
else:
    print('Convierte la variable a tipo float')

Correcto!

### 1.3 Operaciones
Con las variables que definimos, podemos realizar distintas operaciones. Dependiendo el tipo de variable, hay diferentes operaciones diponibles.

#### 1.3.1 Operaciones con números

Se pueden realizar las operaciones basicas entre numeros

In [ ]:
a = 20
b = 4
print(a+b)
print(a-b)

24
16

Se pueden realizar las operaciones incluso entre distintos tipos de variables

In [ ]:
a = 20
b = 4.5

c = a+b
d = a-b

print(c)
print(d)

24.5
15.5

¿De qué tipo es la variable resultante? Trata de adivinarlo antes de correr la celda siguiente.

In [ ]:
print(type(c))
print(type(d))

<class 'float'>
<class 'float'>

También podemos dividir números.

In [ ]:
x = 10
y = 3
z = x/y
print(z)

3.3333333333333335

¿De qué tipo es la variable resultante de hacer la división? A pesar de dividir dos números enteros, el resultado es de tipo `float`.

In [ ]:
print(type(z))

<class 'float'>

La siguiente operación es muy usada en computación, nos devuelve el resto de la división. ¿No recuerdas qué es el resto? Puedes investigarlo [aquí](https://www.disfrutalasmatematicas.com/numeros/division-resto.html).

In [ ]:
x = 10
y = 3
print(x%y)
print(type(x%y))

**Ejercicio**: Calcular el porcentaje que representa el valor 17 sobre un total de 54 y guardarlo en una variable llamada `porcentaje`.

In [ ]:
# COMPLETAR
porcentaje = 17/54*100
print(porcentaje)

31.48148148148148

#### **Ejercicio**: calcula la suma y multiplicación de las variables `a`, `b` y `c`. ¡Presta atención al tipo de dato!

In [ ]:
a = '2'
b = '-5.5'
c = '7.8'

# COMPLETAR
suma = a + b + c
print(suma)

2-5.57.8

## 2. Listas y Loops

Ya vimos los tipos de datos básicos de Python. Es hora de empezar a combinarlos.

### 2.1 Listas

Las listas un objeto central en el lenguaje Python. Están compuestas por una sucesión de objetos en un orden determinado. Se definen mediante corchetes `[]`, y los objetos dentro de ellas se separan por comas `,`. Veamos un ejemplo:

In [ ]:
lista_1 = [42, 10.7, True, 'Texto']
print(lista_1)

[42, 10.7, True, 'Texto']

**Notar** que la lista puede contener varios tipos de datos diferentes sin ningún problema.

Una pregunta muy usual que uno hace cuando trabaja con listas es cuántos elementos tiene. Esto lo podemos responder con el comando `len()`

In [ ]:
len(lista_1)

4

#### Indexado

Cada elemento de una lista tiene asignada una posición (*índice*) que podemos usar para inspeccionar ese elemento u operar con él. Los índices **empiezan en 0**, y se especifican poniendo corchetes con el índice dentro luego del nombre de la lista:

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]

print(lista_2[0])
print(lista_2[1])
print(lista_2[2])

5
6.0
Un poco de texto

**Ejercicio**: imprimir el séptimo elemento de `lista_2`. Asegurarte que lo hiciste bien contando los elementos de la lista.

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]
# COMPLETAR
print(lista_2[6])

True

También podemos seleccionar porciones de la lista, no solamente de a un elemento por vez.

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]
print(lista_2[0:4])
print(lista_2[4:])
print(lista_2[0:8:3])

[5, 6.0, 'Un poco de texto', -5]
[False, 'Más texto', True, 100]
[5, -5, True]

¿Cuál es la lógica que gobierna esta sintaxis? También puede googlear qué es *slicing*.

Algo más sobre indexado. Podemos indexar *desde el final* de la lista usando números negativos.

In [ ]:
lista_2 = [5, 6.0,'Un poco de texto',-5, False, 'Más texto', True, 100]
print(lista_2[-1])
print(lista_2[-2])
print(lista_2[-8])

100
True
5

Creemos una tercera lista

In [ ]:
# Definimos una segunda lista
lista_3 = [0, lista_1, 'Mas texto', lista_2]
print(lista_3)
print(len(lista_3))

[0, [42, 10.7, True, 'Texto'], 'Mas texto', [5, 6.0, 'Un poco de texto', -5, False, 'Más texto', True, 100]]
4

Notemos que en esta tercera lista, agregamos dentro la primera y la segunda lista. Ambas listas ahora son elementos de esta tercera lista. Prestar particular atención a cuántos elementos tiene `lista_3`. ¡No importa cuántos elementos tienen `lista_1` o `lista_2`, dentro de `lista_3` solamente cuentan como uno!

In [ ]:
print(lista_3[3])

[5, 6.0, 'Un poco de texto', -5, False, 'Más texto', True, 100]

**Ejercicio:** tomando `lista_1` desde `lista_3` (lo que acabamos de hacer en la celda anterior), indexar el tercer elemento de `lista_1`. Debería darte como resultado `True`.

In [ ]:
# COMPLETAR
lista_3 = [0, lista_1, 'Mas texto', lista_2]
#print(lista_3[1][2])
print(lista_3)
print(lista_3[3][4])

[0, [42, 10.7, True, 'Texto'], 'Mas texto', [5, 6.0, 'Un poco de texto', -5, False, 'Más texto', True, 100]]
False

**Lista Vacía y `append()`**

Podemos crear listas vacias e ir agregándole elementos con el método `append()`

In [ ]:
lista_vacia = []
len(lista_vacia)

0

In [ ]:
lista_vacia.append(42)
lista_vacia.append('un segundo item')
print(lista_vacia)
print(len(lista_vacia))

[42, 'un segundo item', 421, 'un segundo item', 42, 'un segundo item']
6

Prueba qué pasa si corren nuevamente la celda anterior (justo arriba de ésta). Notar que el método `append()` no solamente trabaja en listas vacías.

**Ejercicio**: Defina una lista vacia llamada `lista_nueva` y agréguele (`append()`) los elementos `a`, `b` y `c`.

In [ ]:
a = 8
b = 'world'
c = [12,24.5,66]

lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
# COMPLETAR
print(lista_nueva)

[8, 'world', [12, 24.5, 66]]

**CUIDADO:** a veces queremos copiar una lista, operar sobre ella y comparar los resultados con la lista original. Sin embargo, hay que tener cuidado cuando queremos copiar listas

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1  # lista_2 ahora es igual a lista_1
lista_2[-1] = 100 # el ultimo elemento de la lista_2 ahora es 100
print(lista_1, lista_2)

[1, 2, 3, 100] [1, 2, 3, 100]

¡Notar que se modificaron ambas listas! Esto, en general, no es lo deseado. Pero podemos hacerlo bien:

In [ ]:
lista_1 = [1,2,3,4]
lista_2 = lista_1.copy() # Prestar atención aquí
lista_2[-1] = 100
print(lista_1, lista_2)

[1, 2, 3, 4] [1, 2, 3, 100]

¡Ahora no! Es decir, si queremos copiar listas, debemos poner `.copy()`. Esto no solo vale para listas, sino para objetos que veremos en arreglos de Numpy y dataframes de Pandas.

### 2.2 Loops

En general, cuando estamos programando, queremos repetir una operación varias veces. Por ejemplo, aplicarle una operación a los elementos de una lista. Si la lista tiene muchos elementos, puede ser engorroso escribir la aplicación de esa operacíon a cada elemento uno por uno, por lo que necesitamos alguna estructura de código que facilite esa sintaxis. 

Los **Loops** (bucles) son estructuras de codigo fundamentales en cualquier lenguaje de programación. Consisten en bloques de código que se repiten una cierta cantidad de veces dada una condición. Existen dos formas básicas de crear loops, las instrucciones tipo `for` y las instrucciones tipo `while`.

El `for` es un loop en el que un bloque de código se repite tantas veces como elementos haya en una determinada lista. En cada iteración (repetición) hay una variable que va tomando el valor de uno de los elementos en esta lista.

In [ ]:
lista_numeros = [3,55,1,876,12]
for elemento in lista_numeros:
    # Definimos el codigo dentro del for mediante la indentación
    # (Todo lo que este corrido un 'tab' a la derecha)
    print(elemento)
print(elemento)

3
55
1
876
12
12

Prestar particular atención a que el código que está "dentro" del `for` está **indentado**. En algunos lenguajes de programación la indentación se utiliza para ordenar el código, hacerlo más legible. En Python, en cambio, es **obligatorio**. Se logra con cuatro espacios o un tab.

Repitamos los mismo que la celda anterior. pero ahora agregamos una variable `i` que cuenta la cantidad de veces que recorrimos el bucle `for`.

In [ ]:
lista_numeros = [3,55,1,876,12]
i = 0 # La iniciamos en cero

for elemento in lista_numeros:    
    i = i+1 # Le sumamos 1 cada vez que entra
    print(elemento, i)

3 1
55 2
1 3
876 4
12 5

También podemos recorrer listas de texto.

In [ ]:
lista_nombres = ['Ernesto', 'Camilo', 'Violeta']
nueva_lista = []

for item in lista_nombres:
    oracion = 'Mi nombre es ' + item
    nueva_lista.append(oracion)

# Este print esta fuera del bucle, no está indentado
print(nueva_lista)
print(len(nueva_lista))

['Mi nombre es Ernesto', 'Mi nombre es Camilo', 'Mi nombre es Violeta']
3


El `while` es otro tipo de loop los invito a consultar como se realiza su implementación.

## Repaso

**Ejercicios 1 y 2:** Si tenemos una lista de números, por ejemplo los primeros diez numeros naturales, e intentamos sumarle un número fijo a la lista, por ejemplo 3, tal vez intentemos algo parecido a lo siguiente:

In [ ]:
numeros = [0,1,2,3,4,5,6,7,8,9]
print(numeros + 3)

¡Nos salta un error! (Notar que la opción de Googlear el error en Stack Overflow es informativa.). Entonces:


1. Crear una rutina que le sume tres a los diez primeros números naturales y vaya imprimiendo en pantalla a medida que lo hace.
2. Crear una rutina que le sume tres a los diez primeros números naturales y guarde los resultados en una nueva lista. Al final, imprimir esa lista en pantalla.

In [ ]:
# COMPLETAR 1

In [ ]:
# COMPLETAR 2

**Nota**: ¿qué ocurriría si, en lugar de querer sumarle un número a los diez primeros números naturales, quisiéramos hacerlo sobre los primeros cien?¿Y si fuera el primer millón de números naturales?¿La rutina es fácilmente adaptable?. Pista: `range()`

**Ejercicio 3**: Genere una lista llamada `numerosgrandes` que contenga el cuadrado de cada elemento en la lista `numeritos`.

In [ ]:
numeritos = [3,1,5,7,12,10,17,4,22]
# COMPLETAR

**Ejercicio 4:** qué ocurre si sumas,`+`, dos listas. ¿Cómo se llama esa operación?

In [ ]:
lista_1 = [1,5,-8,3]
lista_2 = [True, 'Cocodrilo que se duerme es cartera', 9, -17, 98, False]
# COMPLETAR

La operación se llama concatenación. En este caso, de listas.

**Ejercicio 5:** sumar todos los elementos de la siguiente lista. **Pistas:**
* En un ejemplo anterior definimos una variable `i`, inicializada en cero, que fuimos modificando en cada paso de un `for`. Considerar la opción de definir una variable `suma` y utilizarla de forma parecida.

In [ ]:
numeros = [4,8,3,1,-3,3,-5,1,2,-8]
# COMPLETAR